<div
  *ngIf="show"
  class="spinner"
  style="text-align: center; position: absolute; top: 45%; left: 40%"
>
  <mat-spinner
    style="margin: 0 auto"
    diameter="100"
    strokeWidth="2"
  ></mat-spinner>
  <h3>Getting staff members...</h3>
</div>

<div class="data">
  <div fxFlexLayout="row" fxLayoutAlign="space-between">
    <button mat-button routerLink="/admin/add-staff">
      <mat-icon>add</mat-icon> New Staff
    </button>
    <mat-form-field appearance="outline">
      <mat-label> <b>Filter</b></mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        ID
      </th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.firstname }} {{ element.lastname }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by operator"
      >
        Email ID
      </th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="aadhar">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by band"
      >
        Aadhar
      </th>
      <td mat-cell *matCellDef="let element">{{ element.aadharNumber }}</td>
    </ng-container>
    <ng-container matColumnDef="mobile">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by band"
      >
        Mobile
      </th>
      <td mat-cell *matCellDef="let element">
        <span *ngFor="let mob of element.mobiles"> {{ mob.number }}; </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by band"
      >
        Address
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.address.city }}, {{ element.address.state }},
        {{ element.address.pincode }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by band"
      >
        Actions
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="deleteStaff(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No Staff Data available!</td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
