<h2>List of Mobiles</h2>
<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let mob of mobiles; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ i + 1 }}. &nbsp;
        <img
          src="../../../assets/images/{{ mob.operator }}.png"
          width="30"
          height="auto"
          alt=""
        />
      </mat-panel-title>
      <mat-panel-description fxLayoutAlign="space-between center">
        <div fxLayoutAlign="center" fxLayoutGap="10px">
          <mat-icon>call</mat-icon>
          +91 {{ mob.number }}
        </div>
        <span>
          {{ mob.band }}
        </span>
        <span
          [ngClass]="mob.active == true ? 'success' : 'error'"
          style="width: 30px; height: 30px; border-radius: 50%"
        ></span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="mob.subscriptions.length != 0">
      <div>
        <table style="width: 100%">
          <tr *ngFor="let sub of mob.subscriptions; let i = index">
            <td>{{ i + 1 }}</td>
            <td *ngIf="sub.plan">₹ {{ sub.plan.amount }}</td>
            <td *ngIf="sub.plan">
              {{ sub.plan.calls }}, {{ sub.plan.data }} data,
              {{ sub.plan.sms }} SMS
            </td>
            <td>Subscribed on: {{ sub.startDate | date: "mediumDate" }}</td>
            <td>Plan expires on: {{ sub.endDate | date: "mediumDate" }}</td>
          </tr>
        </table>
      </div>
    </div>
    <h3 *ngIf="mob.subscriptions.length == 0">No Subscriptions available</h3>
  </mat-expansion-panel>
</mat-accordion>
