.data {
  table{
    width: 100%;
  }
}
  .mat-paginator {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .green {
    background-color: #4caf50;
    border-radius: 50%;
  }
  .red {
    background-color: #f44336;
    border-radius: 50%;
  }